*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(120deg,#d1b044,#e27c5f);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #e27c5f;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background-color: #e27c5f;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
    padding: 0rem 0.5rem;
}

.del-btn, .check-btn{
    background:  rgb(218, 71, 71);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem ;
}
.check-btn{
    background: rgb(79, 153, 79);
}
.check-btn:hover{
    background: rgb(117, 192, 117);
}
.del-btn:hover{
    background:rgb(243, 123, 123);
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.del{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #e27c5f;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #e27c5f;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #e27c5f;
}